<!DOCTYPE html>
{# @var seo array #}
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <title>{{ seo.title|default('seo.title'|trans) }}</title>
        <meta property="og:site_name" content="{{ 'seo.title'|trans }}" />
        <meta name="description" content="{{ seo.description|default('seo.description'|trans) }}" />
        <meta name="keywords" content="{{ seo.keywords|default('seo.keywords'|trans) }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% if canonical is defined %}
            <link rel="canonical" href="http://senseye.com.ua{{ canonical }}">
        {% endif %}
        {% block stylesheets %}{% endblock %}
        <script type="text/javascript" src="//jslogger.com/jslogger.js"></script>
        <script type="text/javascript">window.jslogger = new JSLogger();</script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% include 'analytics.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
