{# @var pager \Pagerfanta\Pagerfanta #}
{% set pages = pager.getNbPages() %}
{% if pages > 1 %}
    {% set current = pager.getCurrentPage() %}
    {% set prev = pager.hasPreviousPage() ? pager.getPreviousPage() %}
    {% set next = pager.hasNextPage() ? pager.getNextPage() %}
    <div class="row">
        <div class="col s12">
            <ul class="pagination">
                <li class="{% if prev %}waves-effect{% else %}disabled{% endif %}">
                    <a href="{% if prev %}{{ pagerfanta_page_url(pager, prev) }}{% else %}javascript:void(0);{% endif %}">
                        <i class="zmdi zmdi-chevron-left"></i>
                    </a>
                </li>

                {% set step = 3 %}
                {% set range = min(step, pages) %}

                {% for page in 1..range %}
                    {% if page == current %}
                        <li class="active"><a href="javascript:void(0);">{{ page }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="{{ pagerfanta_page_url(pager, page) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% set complete = range %}
                {% if current == complete %}
                    <li class="waves-effect"><a href="{{ pagerfanta_page_url(pager, next) }}">{{ next }}</a></li>
                {% endif %}

                {% if current > (step + 2) %}
                    <li class="disabled"><a>.</a></li>
                    <li class="disabled"><a>.</a></li>
                    <li class="disabled"><a>.</a></li>
                {% endif %}

                {% if current > step %}
                    {% set from = max(current - 1, step + 1) %}
                    {% set to = min(current + 1, pages) %}
                    {% if from <= to %}
                        {% for page in from..to %}
                            {% if page == current %}
                                <li class="active"><a href="javascript:void(0);">{{ page }}</a></li>
                            {% else %}
                                <li class="waves-effect"><a href="{{ pagerfanta_page_url(pager, page) }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% set complete = to %}
                    {% endif %}
                {% endif %}

                {% if complete < (pages - step) %}
                    <li class="disabled"><a>.</a></li>
                    <li class="disabled"><a>.</a></li>
                    <li class="disabled"><a>.</a></li>
                {% endif %}

                {% if complete < pages %}
                    {% set from = max(complete + 1, pages - step + 1) %}
                    {% for page in from..pages %}
                        {% if page == current %}
                            <li class="active"><a href="javascript:void(0);">{{ page }}</a></li>
                        {% else %}
                            <li class="waves-effect"><a href="{{ pagerfanta_page_url(pager, page) }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <li class="{% if next %}waves-effect{% else %}disabled{% endif %}">
                    <a href="{% if next %}{{ pagerfanta_page_url(pager, next) }}{% else %}javascript:void(0);{% endif %}">
                        <i class="zmdi zmdi-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}