{# @var profiles \AppBundle\Component\Profile[] #}
{% for profile in profiles %}
    <div class="col s12 work-block z-depth-2 card-panel hoverable">
        <div class="col s12 header">
            <div class="title">
                <a href="{{ profile.getLink() }}?from=senseye" target="_blank">{{ profile.getTitle() }}</a>
            </div>
            {#
                <div class="post-date">27 ноября 2016</div>
            #}
        </div>
        <div class="col s12 user-criteria">
            <div class="el location">
                <i class="zmdi zmdi-pin"></i>
                {% for city in profile.getCities() %}
                    {{ city['name'] }}{% if not loop.last %} ,{% endif %}
                {% endfor %}
            </div>
            <div class="el money">
                <i class="zmdi zmdi-money"></i>
                {{ profile.getSalary() }}
            </div>
            <div class="el experience">
                <i class="zmdi zmdi-graduation-cap"></i>
                {{ 'experience_choice'|transchoice(profile.getExperience()) }}
            </div>
        </div>
        <div class="col s12 message">
            <p>{{ profile.getDescription() }}</p>
        </div>
        <div class="col s12 skills">
            {%  for skill in profile.getSkills() %}
                <div class="el z-depth-3">{{ skill['name'] }}</div>
            {% endfor %}
        </div>
        {#
            <div class="link-original">
                <a href="/">
                    <i class="zmdi zmdi-link"></i> Senseye
                </a>
            </div>
        #}
    </div>
{% endfor %}