<div class="modal-popup auth">
    <div class="modal-bg"></div>
    <div class="modal-content">
        <div class="close">
            <a href="javascript:void(0);"><i class="zmdi zmdi-close"></i></a>
        </div>
        <div class="header">
            Register with
        </div>
        <div class="soc-elements">
            <a href="{{ hwi_oauth_login_url('github') }}" class="soc btn-floating waves-effect waves-light">
                <i class="zmdi zmdi-github-alt"></i>
            </a>
            <a href="{{ hwi_oauth_login_url('bitbucket') }}" class="soc btn-floating waves-effect waves-light">
                <i class="fa fa-bitbucket" aria-hidden="true"></i>
            </a>
            <a href="javascript:void(0);" class="soc btn-floating waves-effect waves-light">
                <i class="fa fa-gitlab" aria-hidden="true"></i>
            </a>
            <a href="{{ hwi_oauth_login_url('facebook') }}" class="soc btn-floating waves-effect waves-light">
                <i class="zmdi zmdi-facebook"></i>
            </a>
            <a href="{{ hwi_oauth_login_url('linkedin') }}" class="soc btn-floating waves-effect waves-light">
                <i class="zmdi zmdi-linkedin"></i>
            </a>
            <a href="{{ hwi_oauth_login_url('google') }}" class="soc btn-floating waves-effect waves-light">
                <i class="zmdi zmdi-google"></i>
            </a>
        </div>
    </div>
</div>