{# @var pager \ReenExeCubeTime\LightPaginator\Pager #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Senseye поиск программистов</title>
    <meta property="og:site_name" content="Senseye – пошук программістів">
    <meta name="description" content="Пошук програмістів">
    <meta name="keywords" content="Senseye,поиск резюме,пошук резюме,пошук программістів">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80707389-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="{{ asset('css/list.css') }}" type="text/css" rel="stylesheet"/>
</head>
<body>

<section class="navigation z-depth-2">
    <nav class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">Senseye</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#" class="disabled tooltipped" data-position="bottom" data-delay="50" data-tooltip="Will be in next release">Sign up</a></li>
                <li><a href="#" class="disabled tooltipped" data-position="bottom" data-delay="50" data-tooltip="Will be in next release">Sign in</a></li>
            </ul>
        </div>
    </nav>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col s3 left-menu">
                <div class="block">
                    <div class="name">{{ 'city'|trans }}</div>
                    <div class="elements">
                        <p>
                            <input type="checkbox" id="city_kiev" checked="checked" />
                            <label for="city_kiev">Киев</label>
                        </p>
                        <p>
                            <input type="checkbox" id="city_od" />
                            <label for="city_od">Одесса</label>
                        </p>
                        <p>
                            <input type="checkbox" id="city_lv" />
                            <label for="city_lv">Львов</label>
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="name">{{ 'salary'|trans }}</div>
                    <div class="elements">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">{{ 'from'|trans }}</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="icon_telephone" type="tel" class="validate" ca>
                                <label for="icon_telephone">{{ 'to'|trans }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="name">{{ 'specialization'|trans }}</div>
                    <div class="elements">
                        <p>
                            <input type="checkbox" id="backend" checked="checked" />
                            <label for="backend">Back-end</label>
                        </p>
                        <p>
                            <input type="checkbox" id="frontend" />
                            <label for="frontend">Front-end</label>
                        </p>
                        <p>
                            <input type="checkbox" id="android" />
                            <label for="android">Android</label>
                        </p>
                        <p>
                            <input type="checkbox" id="ios" />
                            <label for="ios">IOS</label>
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="name">{{ 'skills'|trans }}</div>
                    <div class="elements">
                        <p>
                            <input type="checkbox" id="php" checked="checked" />
                            <label for="php">PHP</label>
                        </p>
                        <p>
                            <input type="checkbox" id="mysql"/>
                            <label for="mysql">MySQL</label>
                        </p>
                        <p>
                            <input type="checkbox" id="nodejs"/>
                            <label for="nodejs">Node.js</label>
                        </p>
                        <p>
                            <input type="checkbox" id="redis"/>
                            <label for="redis">Redis</label>
                        </p>
                        <p>
                            <input type="checkbox" id="css"/>
                            <label for="css">CSS</label>
                        </p>
                    </div>
                </div>
                <div class="block">
                    <div class="name">{{ 'profiles'|trans }}</div>
                    <div class="elements">
                        <p>
                            <input type="checkbox" id="github" checked="checked" />
                            <label for="github">
                                <i class="zmdi zmdi-github-alt"></i> GitHub
                            </label>
                        </p>
                        <p>
                            <input type="checkbox" id="linkedin" />
                            <label for="linkedin">
                                <i class="zmdi zmdi-linkedin"></i> LinkedIn
                            </label>
                        </p>
                    </div>
                </div>
                <div class="block">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        {{ 'search'|trans }}
                    </button>
                </div>
            </div>
            <div class="col s9">
                <div class="col s12">
                    <h5 class="left-align">{{ 'found_choice'|transchoice(pager.getCount()) }}</h5>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="search">
                                <label for="search">{{ 'search'|trans }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% include '@App/Developer/block/profiles.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</body>
</html>