{# @var pager \ReenExeCubeTime\LightPaginator\Pager #}
{# @var profileCriteriaContainer \AppBundle\Component\ProfileAvailableCriteriaContainer #}
{% extends '::base.html.twig' %}
{% block stylesheets %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://cdn.rawgit.com/SenseyePrototype/senseyeprototype.github.io/master/css/list.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
<section class="navigation z-depth-2">
    <nav class="container">
        <div class="nav-wrapper">
            <a href="{{ path('developers.page') }}" class="brand-logo left">Senseye</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="javascript:void(0);" class="disabled tooltipped" data-position="bottom" data-delay="50" data-tooltip="Will be in next release">Sign up</a></li>
                <li><a href="javascript:void(0);" class="disabled tooltipped" data-position="bottom" data-delay="50" data-tooltip="Will be in next release">Sign in</a></li>
            </ul>
        </div>
    </nav>
</section>
<section class="content">
    <div class="js-container container">
        <div class="row">
            <div class="col s3 left-menu">
                <div id="js-count-hint" class="result" style="top:108px;">
                    <div class="js-count-loader result__wrap">
                        <span class="js-empty result__label">Ничего не найдено</span>
                        <a class="js-submit result__submit" href="javascript:void(0);"><span class="result__label">Показать</span><span class="js-count-result result__count"></span></a>
                        <a class="js-close result__close" href="javascript:void(0);">+</a>
                    </div>
                </div>
                <div class="block">
                    <div class="name">{{ 'city'|trans }}</div>
                    <div class="elements js-search-criteria-multi" data-param="cities">
                        {% for city in profileCriteriaContainer.getCities() %}
                            {% set reference = 'city' ~ city['alias'] %}
                            <p>
                                <input type="checkbox" id="{{ reference }}" data-alias="{{ city['alias'] }}" {% if city['checked'] %}checked="checked"{% endif %} />
                                <label for="{{ reference }}"><a href="{{ path('developers.city.page', {city: city['alias']}) }}" style="text-decoration: none;">{{ city['name'] }}</a><span class="badge">{{ city['count'] }}</span></label>
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="block">
                    <div class="name">{{ 'experience'|trans }}</div>
                    <div class="elements js-search-criteria-range" data-param="experience">
                        <div class="row">
                            {% set experience = profileCriteriaContainer.getExperience() %}
                            {# @var selectedExperience \AppBundle\Component\Range #}
                            {% set selectedExperience = profileCriteriaContainer.getSelectedExperience() %}
                            <div class="input-field col s6">
                                <input id="experience-from" type="text" class="validate js-range-from" value="{{ selectedExperience.getFrom() }}" placeholder="{{ experience['from'] }}" />
                                <label for="experience-from">{{ 'from'|trans }}</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="experience-to" type="text" class="validate js-range-to" value="{{ selectedExperience.getTo() }}" placeholder="{{ experience['to'] }}" />
                                <label for="experience-to">{{ 'to'|trans }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                {#
                    <div class="block">
                        <div class="name">{{ 'specialization'|trans }}</div>
                        <div class="elements">
                            <p>
                                <input type="checkbox" id="backend" checked="checked" />
                                <label for="backend">Back-end</label>
                            </p>
                            <p>
                                <input type="checkbox" id="frontend" />
                                <label for="frontend">Front-end</label>
                            </p>
                            <p>
                                <input type="checkbox" id="android" />
                                <label for="android">Android</label>
                            </p>
                            <p>
                                <input type="checkbox" id="ios" />
                                <label for="ios">IOS</label>
                            </p>
                        </div>
                    </div>
                #}
                <div class="block">
                    <div class="name">{{ 'skills'|trans }}</div>
                    <div class="elements js-search-criteria-must" data-param="skills">
                        {% for skill in profileCriteriaContainer.getSkills() %}
                            {% set reference = 'skill' ~ skill['alias'] %}
                            <p>
                                <input type="checkbox" id="{{ reference }}" data-alias="{{ skill['alias'] }}" {% if skill['checked'] %}checked="checked"{% endif %} />
                                <label for="{{ reference }}">{{ skill['name'] }} <span class="badge">{{ skill['count'] }}</span></label>
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="block">
                    <div class="name">{{ 'salary'|trans }}</div>
                    <div class="elements js-search-criteria-range" data-param="salary">
                        <div class="row">
                            {% set salary = profileCriteriaContainer.getSalary() %}
                            {# @var selectedSalary \AppBundle\Component\Range #}
                            {% set selectedSalary = profileCriteriaContainer.getSelectedSalary() %}
                            <div class="input-field col s6">
                                <input id="salary-from" type="text" class="validate js-range-from" value="{{ selectedSalary.getFrom() }}" placeholder="{{ salary['from'] }}" />
                                <label for="salary-from">{{ 'from'|trans }}</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="salary-to" type="text" class="validate js-range-to" value="{{ selectedSalary.getTo() }}" placeholder="{{ salary['to'] }}" />
                                <label for="salary-to">{{ 'to'|trans }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                {#
                    <div class="block">
                        <div class="name">{{ 'profiles'|trans }}</div>
                        <div class="elements">
                            <p>
                                <input type="checkbox" id="github" checked="checked" />
                                <label for="github">
                                    <i class="zmdi zmdi-github-alt"></i> GitHub
                                </label>
                            </p>
                            <p>
                                <input type="checkbox" id="linkedin" />
                                <label for="linkedin">
                                    <i class="zmdi zmdi-linkedin"></i> LinkedIn
                                </label>
                            </p>
                        </div>
                    </div>
                #}
                <div class="block">
                    <button class="btn waves-effect waves-light js-search-submit" type="submit" name="action">
                        {{ 'search'|trans }}
                    </button>
                </div>
            </div>
            <div class="col s9">
                <div class="col s12">
                    <h5 class="left-align">{{ 'found_choice'|transchoice(pager.getCount()) }}</h5>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="search" class="js-search-criteria-fulltext" value="{{ profileCriteriaContainer.getFulltext() }}">
                                <label for="search">{{ 'search'|trans }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% include '@App/Developer/block/profiles.html.twig' %}
                </div>
                {% include '@App/Developer/block/pagination.html.twig' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="{{ asset('developers.js') }}?v=1"></script>
{% endblock %}