{# @var form \Symfony\Component\Form\FormView #}
{# @var form \AppBundle\Entity\DeveloperProfile #}
{# @var exists bool #}
{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://cdn.rawgit.com/SenseyePrototype/senseyeprototype.github.io/master/css/list.css" type="text/css" rel="stylesheet"/>
    <link href="https://cdn.rawgit.com/SenseyePrototype/senseyeprototype.github.io/master/css/profile.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <section class="navigation z-depth-2">
        <nav class="container">
            <div class="nav-wrapper">
                <a href="{{ path('developers.page') }}" class="brand-logo left">Senseye</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="javascript:void(0);">{{ app.getUser().getUsername() }}{#<span class="new badge red" data-badge-caption="Не опубликован"></span>#}</a></li>
                </ul>
            </div>
        </nav>
    </section>
    <section class="content profile">
        <div class="container">
            <div class="row">
                <div class="col s3 left-menu">
                    <div class="block">
                        <a href="javascript:void(0);" class="name">{{ 'profile'|trans }}</a>
                    </div>
                    {% if exists %}
                        <div class="block">
                            <a href="javascript:void(0);" class="name">{{ 'skills'|trans }}</a>
                        </div>
                        <div class="block">
                            <a href="javascript:void(0);" class="name">{{ 'contacts'|trans }}</a>
                        </div>
                        <div class="block">
                            <a href="javascript:void(0);" class="name">{{ 'logout'|trans }}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="col s9">
                    {{ form_start(form) }}
                    <div class="input-field col s12">
                        <i class="material-icons prefix zmdi zmdi-account"></i>
                        {{ form_widget(form.title, {'attr': {'class': 'validate'}}) }}
                        {{ form_label(form.title, 'profile_parameters.title'|trans) }}
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix zmdi zmdi-money"></i>
                        {{ form_widget(form.salary, {
                            'attr': {
                                'type': 'number',
                                'step': 100,
                                'class': 'validate'
                            }}
                        ) }}
                        {{ form_label(form.salary, 'salary'|trans) }}
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix zmdi zmdi-brush"></i>
                        {{ form_widget(form.description, {
                            'attr': {
                                'class': 'materialize-textarea validate'
                            }}
                        ) }}
                        {{ form_label(form.description, 'profile_parameters.description'|trans) }}
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix zmdi zmdi-functions"></i>
                        {{ form_widget(form.experience, {
                            'attr': {
                                'type': 'number',
                                'class': 'validate'
                            }}
                        ) }}
                        {{ form_label(form.experience, 'experience'|trans) }}
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix zmdi zmdi-shield-check"></i>
                        {{ form_widget(form.assert, {
                            'attr': {
                                'class': 'materialize-textarea validate'
                            }}
                        ) }}
                        {{ form_label(form.assert, 'profile_parameters.assert'|trans) }}
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix zmdi zmdi-puzzle-piece"></i>
                        {{ form_widget(form.expect, {
                            'attr': {
                                'class': 'materialize-textarea validate'
                            }}
                        ) }}
                        {{ form_label(form.expect, 'profile_parameters.expect'|trans) }}
                    </div>
                    <div class="input-field col s12">
                        {{ form_widget(form.published) }}
                        <label for="{{ form.published.vars.id }}"><i class="zmdi zmdi-cloud-upload"></i> {{ 'action.publish'|trans }}</label>
                    </div>
                    <div class="input-field col s12 padding-top">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            {{ 'action.save'|trans }}
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
{% endblock %}