{# @var profile \AppBundle\Component\Profile #}
{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://cdn.rawgit.com/SenseyePrototype/senseyeprototype.github.io/master/css/list.css" type="text/css" rel="stylesheet"/>
    <link href="https://cdn.rawgit.com/SenseyePrototype/senseyeprototype.github.io/master/css/profile.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {% include '@App/Developer/block/navigation.html.twig' %}
    {% include '@App/Developer/block/social-auth.html.twig' %}
    <section class="content profile">
        <div class="container">
            <div class="row">
                <div class="col s10 offset-s1 view z-depth-3">
                    {#
                        <div class="post-date">27 ноября 2016</div>
                    #}
                    <h4 class="center-align">{{ profile.getTitle() }}</h4>
                    <div class="field col s12">
                        <div class="title col s12">{{ 'salary'|trans }}</div>
                        <div class="col s12">
                            <i class="zmdi zmdi-money"></i> {{ profile.getSalary() }}$
                        </div>
                    </div>
                    <div class="field col s12">
                        <div class="title col s12">
                            {{ 'profile_parameters.city'|trans }}
                        </div>
                        <div class="col s12">
                            <i class="zmdi zmdi-pin"></i> {{ profile.getCities()[0]['name'] }}
                        </div>
                    </div>
                    <div class="field col s12">
                        <div class="title col s12">
                            {{ 'profile_parameters.description'|trans }}
                        </div>
                        <div class="col s12">
                            <i class="zmdi zmdi-assignment"></i> {{ profile.getDescription() }}
                        </div>
                    </div>
                    <div class="field col s12">
                        <div class="title col s12">
                            {{ 'experience'|trans }}
                        </div>
                        <div class="col s12">
                            <i class="zmdi zmdi-graduation-cap"></i> {{ 'experience_choice'|transchoice(profile.getExperience()) }}
                        </div>
                    </div>
                    {% if profile.getAssert() %}
                        <div class="field col s12">
                            <div class="title col s12">
                                {{ 'profile_parameters.assert'|trans }}
                            </div>
                            <div class="col s12">
                                <i class="zmdi zmdi-shield-check"></i> {{ profile.getAssert() }}
                            </div>
                        </div>
                    {% endif %}
                    {% if profile.getExpect() %}
                        <div class="field col s12">
                            <div class="title col s12">
                                {{ 'profile_parameters.expect'|trans }}
                            </div>
                            <div class="col s12">
                                <i class="zmdi zmdi-puzzle-piece"></i> {{ profile.getExpect() }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="field col s12">
                        <div class="title col s12">
                            {{ 'skills'|trans }}
                        </div>
                        <div class="col s12 skills">
                            {% for index, skill in profile.getSkills() %}
                                <div class="skill col s12">
                                    <div class="col s2">
                                        {{ skill['name'] }}
                                    </div>
                                    {% set score = min(10, skill['score']) %}
                                    <div class="col s10">
                                        {% for active in 1..10 %}
                                            <div class="point {% if active <= score %}active{% endif %}"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="link-original">
                                <a href="{{ profile.getLink() }}?from=senseye">
                                    <i class="zmdi zmdi-link"></i> Original
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
{% endblock %}